shim-version: v0.2.15@sha256:5ca748b384b78b7e686b57ca66d9b3c552038ebab2ce60305004f76e573a8458
cvm-version: 0.4.16
cpus: 32
memory: 524288
gpus: full

models:
  - name: "qwen3-coder-480b"
    repo: "Qwen/Qwen3-Coder-480B-A35B-Instruct-FP8@003f183a92fbe5b9a8325aaa8b2ae797c91dd90f"
    mpk: "81993809d5510f60b216a144a27d4a2ca1df6b5ddaa6b7f0096a040bb5b1bf07_482171310080_b7089f0d-7aa8-508f-a7f2-10d8bf7001c8"

containers:
  - name: "qwen3-coder-480b"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "vllm/vllm-openai:v0.13.0@sha256:d623253f2ba246378421c9642e20885e65257f38418ff26d48c81aea1702521b",
      "--model", "/tinfoil/mpk/mpk-81993809d5510f60b216a144a27d4a2ca1df6b5ddaa6b7f0096a040bb5b1bf07",
      "--enable-expert-parallel",
      "--data-parallel-size", "8",
      "--max-model-len", "131072",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "qwen3_coder",
      "--chat-template", "examples/tool_chat_template_qwen3coder.jinja",
      "--served-model-name", "qwen3-coder-480b",
      "--port", "8001"
    ]

shim:
  listen-port: 443
  upstream-port: 8001
  publish-attestation: true
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
    - /health
